html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;

}


p {
    font-size: 17px !important;
}

span {
    font-family: sans-serif !important;
}


/* *Componentes */
.bg-config {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.band-green {
    background-color: #0bb663;
    width: 100%;
    margin: 0;
    height: 80px;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
}

.carousel-indicators .circles-carousel {
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
}

.active.circles-carousel {
    background-color: black;
}

/* * */
/* ? */
/* ! */

.carousel-indicators .slider-textimonial {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    opacity: 1;
    transition: 0.5s;
}

.active.slider-textimonial {
    background-color: #0bb663;
    width: 60px;
    border-radius: 18px !important;
    /* transform: scaleX(1.5); */
}

.square-icon {
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: 0.5s;
    animation-direction: alternate;

}

.play::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.499);
    z-index: -1;
    animation: play 1.3s infinite ease;
    transform: scaleX(1.0);
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px;

}

@keyframes play {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1
    }

    100% {
        transform: translate(0, 0) scale(1.2);
        opacity: 0;
    }
}

.form {
    border-radius: 0px;
    padding: 15px 10px;
    height: 50px;
    margin-bottom: 24px;
}

.card-textimonial {
    padding: 50px 25px 70px;
    transition: 0.5s;
}

.title-slider {
    color: #0bb663;
}

.card-textimonial:hover {
    background-color: #0bb663 !important;
    color: #fff;
}

.card-textimonial:hover .title-slider {
    color: #fff;
}

.footer {
    background-color: #1d1d1d;
    padding-top: 60px;
}


.shadow-textimonial {
    box-shadow: 0px 0px 12px 10px rgba(242, 242, 242, 0.505) !important;
    /* max-width: 50%; */

    max-width: 500px;
    /* height: 400px; */

}

/* buttom */

.btn-green {
    background-color: #0bb663;
    padding: 10px 20px;
    /* max-width: 100%; */
    width: 100%;
    transition: 0.5s;

}

.btn-hover-green:hover {
    background: #fff;
}

.btn-black {
    background-color: black;
    padding: 10px 20px;
    /* max-width: 100%; */
    width: 100%;
    transition: 0.5s;
}

.btn-black:hover {
    background-color: #0bb663;
    color: #fff;
}

/* gap */
.gap-25 {
    gap: 25px;
}

.gap-10 {
    gap: 15px;
}

/* btn */
.btn {
    color: white;
    font-weight: 500;
    white-space: nowrap;
    font-size: 17px;
}

/* *clases */
.navb-b-green {
    position: relative;
}

.navb-b-green::before {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 5px solid #0bb663;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
}

/*  */

.bg-green {
    background-color: #0bb663;
}

/* fonts* */

.fs-18 {
    font-size: 18px;
}

/*  */
.objert-cover {
    object-fit: cover;
}

/* colors text */
.text-green {
    color: #0bb663;
}

.text-black {
    color: black;
}

.fw-regular {
    font-weight: inherit;
}

.hover-color-white:hover {
    color: white;
}

/* 
.title-slider:hover {
    color: #fff !important;
} */




/*  */
.rounded-xl {
    border-radius: 25px;
}

/*  */
.banner {
    background-image: url(../img/banner-bg.png);
}

.bg-picture {
    background: url(../img/services-bg.png);
}

.video {
    background-image: url(../img/events-bg.png);
    height: 416px;
    width: 345px;
    background-size: cover;
}

.bg-contact {
    background-image: url(../img/contact-bg.png);
    outline: none;
    border: none;
}

/*  */
.b-none {
    border: none;
}

.b-grey {
    border: #363636 1px solid;
}

.bottom-neg-textimonial {
    bottom: -100px;
}

/*  */
.vh-70 {
    height: 80vh;
}

/* ?seudoelementos ___________________________________________________________________________*/
.line {
    position: relative;
}

.line::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid rgba(14, 13, 13, 0.867);
    bottom: 35%;
    right: 0;
    width: 150px;
    height: 2px;
}

.line-white {
    position: relative;
}

.line-white::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid white;
    bottom: 35%;
    right: 0;
    width: 150px;
    height: 2px;
}

.border-green {
    position: relative;
}

.border-green::before {
    position: absolute;
    background-color: #0bb663;
    width: 100px;
    height: 200px;
    content: "";
    z-index: -1;
    top: -15px;
    left: -20px;
}

/*  */

.footer-text {
    position: relative;
    padding: 20px 0px;
}

/* .footer-text::before {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px solid gray;
    top: -20px;
    left: 0;
    right: 0;
} */

/* owl carousel */
.owl-next {
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
    width: 30px;
    height: 30px;
    /* background-color: rgba(88, 88, 88, 0.393) !important; */
    border-radius: 50% !important;
    margin: 0;
    color: #fff !important;
    font-size: 110px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
}

.owl-prev {
    position: absolute;
    top: calc(50% - 15px);
    left: 0px;
    width: 30px;
    height: 30px;
    /* background-color: rgba(88, 88, 88, 0.393) !important; */
    border-radius: 50% !important;
    margin: 0;
    color: #fff !important;
    font-size: 110px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
}

.bg-config {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}